body{
    background-color: rgb(36, 36, 36);
    color: white;
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header{
    height: 100px;
    background-color: black;
    padding-left: 10px;
    width: 100%;
}
#ultimateCalculatorPicture{
    content: url(../images/ultimate-calculator-dark.png);
    height: 100px;
}
#ultimateCalculatorPicture:hover{
    content: url(../images/ultimate-calculator-hover.png);
    background-color:rgb(36, 36, 36);
}
#ultimateCalculatorPicture:active{
    content: url(../images/ultimate-calculator-press.png);
}
#baseConverterPicture{
    content: url(../images/base-converter-dark.png);
    height: 100px;
    margin-left: 10px;
}
#baseConverterPicture:hover{
    content: url(../images/base-converter-hover.png);
    background-color:rgb(36, 36, 36);
}
#baseConverterPicture:active{
    content: url(../images//base-converter-press.png);
}




.switch {
    position: absolute;
    display: inline-block;
    margin-top: 33px;
    right:0px;
    margin-right: 10px;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: white;
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }




#mainBody{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    gap: 10px;
    padding-left: 10px;
}
#calculatorBody{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap:1px;
    background-color: (28, 28, 28);
    border-radius: 11px;
    background-color: black;
    border: 1px solid white;
}
#calculatorBody>button{
    text-align: center;
    font-size: 30px;
    height: 70px;
    width: 70px;
    border-radius: 15%;
    background-color: black;
    color: white;
    border:1px solid white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#calculatorBody>button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
#backspaceImage:hover{
    content: url(../images/backspace-icon-light.jpeg);
}
#backspace:hover{
    content: url(../images/backspace-icon-dark.png);
}
#calculatorBody>button:active{
    background-color: rgb(1, 255, 1);
    color: black;
    cursor: pointer;
}
#calculatorBody>#clearScreen:active{
    background-color: red;
    color: black;
    cursor: pointer;
}
#calculatorBody>#backspace:active{
    background-color: red;
    color: black;
    cursor: pointer;
}
#calculatorBody>#equal:active{
    background-color: blue;
    color: black;
    cursor: pointer;
}
#backspaceImage{
    width: 40px;
    height: 40px;
    padding-top: 6px;
}
#displayInput,#displayOutput{
    grid-column-start: 1;
    grid-column-end: 6;
    margin: 0px;
    height: 90px;
    width:344px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 50px;
    overflow: scroll;
}
#displayInput::-webkit-scrollbar,#displayOutput::-webkit-scrollbar{
    background-color: black;
    height: 10px;
    width: 0px;
}
#displayInput{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px white solid;
}
#displayOutput{
    border-bottom: 1px white solid;
}





#history{
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
}
#historyTitle{
    font-size: 50px;
    width: 344px;
    text-align: center;
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px white solid;
}
#historyBox{
    height: 478px;
    overflow: scroll;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#historyBox::-webkit-scrollbar{
    height: 0px;
    width: 10px;
    border-bottom-right-radius: 100px;
}
::-webkit-scrollbar-thumb{
    border: 1px white solid;
    border-radius: 10px;
}
:hover::-webkit-scrollbar-thumb{
    background-color: white;
    border: 1px black solid;
}
#historyBox>div{
    font-size: 40px;
    margin: 3px;
    border: 1px solid white;
    border-radius: 10px;
}
.topHistoryPara,.downHistoryPara{
    background-color: black;
    margin: 0px;
    padding: 2px;
    width: 320px;
    overflow: scroll;
}
#historyBox>div>p::-webkit-scrollbar{
    background-color: black;
    width: 0px;
    height: 10px;

}

.topHistoryPara{
    border-bottom: 1px white solid;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.downHistoryPara{
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.downHistoryPara::-webkit-scrollbar{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
#historyBox>div>p:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}